body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4 					{font-family: 'Questrial', 'Open Sans', Helvetica, sans-serif;}
		
body#tinymce.wp-editor h1  					{margin-top: 0px; margin-bottom: 21px; padding-top: 21px; font-size: 30px; color: rgb(109, 110, 123); font-weight: normal;}
body#tinymce.wp-editor h2  					{margin-top: 0px; margin-bottom: 14px; padding-top: 21px; font-size: 24px; color: rgb(109, 110, 123); font-weight: normal;}
body#tinymce.wp-editor h3  					{margin-top: 0px; margin-bottom: 8px; padding-top: 16px; font-size: 16px; color: rgb(35, 31, 32); font-weight: normal; text-transform: uppercase;}
body#tinymce.wp-editor h4  					{margin-top: 0px; margin-bottom: 6px; padding-top: 12px; font-size: 14px; color: rgb(35, 31, 32); font-weight: bold;}
		
body#tinymce.wp-editor p,		
body#tinymce.wp-editor a 					{font-family: 'Open Sans', Helvetica, sans-serif; font-size: 14px; line-height: 21px;}
body#tinymce.wp-editor p					{margin-bottom: 21px; margin-top: 0px;}
body#tinymce.wp-editor a 					{color: rgb(218, 20, 21); text-decoration: none;}
		
body#tinymce.wp-editor a.btn 				{display: inline-block; font-family: 'Questrial', 'Open Sans', Helvetica, sans-serif; text-align: center;}
body#tinymce.wp-editor a.btn-primary 		{background-color: rgb(218, 20, 21); color: #FFFFFF;}
body#tinymce.wp-editor a.btn-large 			{width: auto; min-width: 200px; font-size: 18px; line-height: 40px; margin-bottom: -10px;}